.welcome
  %h3 SingleSteps
  %p
    Welcome to SingleSteps, an app for government agencies wishing to improve data quality. Whether your data quality project is small (say, improving a single spreadsheet shared by a few users) or large (say, implementing citywide standardization of street addresses across multiple departments and databases), the specific tasks and templates provided here can help you plan, organize and carry out your work.
  
%blockquote.blockquote
  %p The longest journey starts with a single step
  %footer.blockquote-footer Lao Tsu
  
  
