.container{id: "project-#{@project.id}"}
  .row
    .col-xs-12
      %h2 
        All Tasks for
        = link_to @project.name, @project
      = link_to "https://drive.google.com/drive/u/0/folders/0Bx9xWWOdodAlUW45dnkwSjBFejA", target: "_NEW" do
        Open Folder of All Google Doc Templates
        %img.icon{src: icon_path("User_Interface", "open_in_window")}
  .row
    .col-xs-12
      .task-list
        %ul
          - @project.children.each do |task|      
            = render 'tasks/task', task: task
