.container
  .row
    .col-xs-12
      %h2 
        Select Tasks for 
        = link_to @project.name, @project
  .row
    .col-xs-12
      .task-list
        %ul
          - @tasks.each do |task|      
            = render 'tasks/include_task', task: task
