// Place all the styles related to the Projects controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.project {
  &--info {
    margin-bottom: 2em;
  }
}
.activity-checklist {
  li 
  { 
    list-style: none;
    margin-bottom: .5em;
    .checkbox
    {
      display: block;
      content: "\2610";
      margin-right:0px;
      margin-left: -25px;
      float: left;
      font-size: 24px;
      line-height: 22px;
    }
    form .checkbox {
      cursor: pointer;      
    }

    &.task--complete.checkbox
    {
        content: "\2611";
    }    
    &.task--excluded.checkbox {
      content: "\2612";      
    }
    
  }
}