// Place all the styles related to the Projects controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.project {
  &--info {
    margin-bottom: 2em;
  }
}
.activity-checklist {
  li 
  { 
    list-style: none;
    margin-bottom: .5em;
    &:before
    {
      display: block;
      content: "\2610";
      margin-right:0px;
      margin-left: -25px;
      float: left;
    }

    &.task--complete:before
    {
        content: "\2611";
    }    
    &.task--excluded:before {
      content: "\2612";      
    }
    
  }
}