@import 'bootstrap/variables';
@import 'bootstrap/mixins';
@import 'bootstrap/grid';
@import '_variables';


.task--info {
  margin-bottom: 1em;
}

.task--extras {
  margin-bottom: 1em;
}

.task--description {
  p {
    @extend .text-paragraph;
  }
}

.task-list {
  //@extend .container;
  ul {
    @extend .row;
    padding: 0;
  }
  ul, li {
    list-style: none;
  }
  li.task--group {
    @extend .col-md-12;
    font-weight: bold;
    font-size: 1.5rem;
    li.task--group {
      font-weight: normal;
      font-size: 1rem;
    }
    ul {
      margin-bottom: 2em;
    }
  }
  li.task--single {
    font-weight: normal;
    font-size: 1rem;
    @extend .col-md-6;
    padding-bottom: .25rem;
  }
  
}

.task--inprogress {
  color: $inprogress;
  a, a:visited, a:hover, a:link {
    color: $inprogress;
  }
}
.task--excluded {
  color: $excluded;
  a, a:visited, a:hover, a:link {
    color: $excluded;
  }
}
.task--complete {
  color: $complete;
  a, a:visited, a:hover, a:link {
    color: $complete;    
  }
}

form.task__checkbox, .task__checkbox--sub {
  width: 20px;
  min-height: 1px;
  display: inline-block;
}

form.task__checkbox--labeled {
  width: auto;
}


form.task__checkbox {
  display: inline-block;
  input[type=checkbox] {
    vertical-align: 2px;
  }
  label {
    display: inline;
  }
}

.task-icon {
  display: inline;
}