@import 'bootstrap/variables';
@import 'bootstrap/mixins';
@import 'bootstrap/grid';
@import '_variables';


.task--info {
  margin-bottom: 1em;
}

.task--extras {
  margin-bottom: 1em;
}

.task--description {
  p {
    @extend .text-paragraph;
  }
}

.task-list {
  //@extend .container;
  ul {
    @extend .row;
    padding: 0;
  }
  ul, li {
    list-style: none;
  }
  li.task--group {
    @extend .col-md-12;
    font-weight: bold;
    font-size: 1.5rem;
    li.task--group {
      font-weight: normal;
      font-size: 1rem;
    }
    ul {
      margin-bottom: 2em;
    }
  }
  li.task--single {
    font-weight: normal;
    font-size: 1rem;
    @extend .col-md-6;
    padding-bottom: .25rem;
  }
  
}

#top-level-task-groups.task-list {
  ul {
    li.task--group {
      a {
        border-radius: 5px;
        
        text-align: center;
        
        cursor: pointer;
        display: block;
        color: white;
        background: black;
        padding: 5px 8px;
        margin-bottom: 5px;        
      }
      &.task--inprogress a {
        background: $inprogress;
      }
      &.task--complete a {
        background: $complete;
      }
      &.task--excluded a {
        background: $excluded;
      }            
    }
  }
}

ul.download-links {
  list-style: none;
  padding: 0; margin: 0;
  
}


@mixin task-action-links {
  .task-action-link {
    a {
      color: $blue;
      font-size: .8em;
      text-decoration: underline;
    }
  }
}

.task--inprogress {
  color: $inprogress;
  a, a:visited, a:hover, a:link {
    color: $inprogress;
  }
  @include task-action-links;
}
.task--complete {
  color: $complete;
  a, a:visited, a:hover, a:link {
    color: $complete;    
  }
  @include task-action-links;
}
.task--excluded {
  color: $excluded;
  a, a:visited, a:hover, a:link {
    color: $excluded;
  }
  @include task-action-links;
}

.excluded-prereqs, .incomplete-prereqs, .included-dependencies, .complete-dependencies {
  display: none;
}
form.task__checkbox, .task__checkbox--sub {
  width: 20px;
  min-height: 1px;
  display: inline-block;
}

form.task__checkbox--labeled {
  width: auto;
}


form.task__checkbox {
  display: inline-block;
  input[type=checkbox] {
    vertical-align: 2px;
  }
  label {
    display: inline;
  }
}

.task-icon {
  display: inline;
}

