<div id="modal-confirm" class="modal fade">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title"><%=t('task.modal_confirm.title')%></h4>
      </div>
      <div class="modal-body">
        <p>
          <span class='task-dependency'><span>
        </p>
        <div class="prereq-list"></div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary btn-cancel" data-dismiss="modal"><%=t('task.modal_confirm.cancel')%></button>
        <button type="button" class="btn btn-primary btn-submit"><%=t('task.modal_confirm.continue')%></button>
      </div>
    </div>
  </div>
</div>